<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"       
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd          
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <!--
    <bean id="servicioEmail" class="mx.uacm.curso.spring.impl.ServicioEmailImpl">    
        <property name="filtro"  ref="filtroSpam"/>    
    </bean>
    
    <bean id="filtroSpam" class="mx.uacm.curso.spring.impl.FiltroSpamImpl2">        
    </bean>        
    -->
    
    
    <bean id="regresion" class="mx.uacm.curso.spring.impl.RegresionImpl">        
    </bean>        
    
    <bean id="estadisticasServicio" class="mx.uacm.curso.spring.impl.EstadisticasServicioImpl">        
        <property name="regresion" ref="regresion"/>
    </bean>        
    
    <context:component-scan base-package="mx.uacm.curso.spring.impl"/>            
    

</beans>


