<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
        
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!-- indicamos donde esta el archivo de configuracion del root context -->
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/mvc-context.xml</param-value>            
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <!-- indicamos que spring mvc atiene urls de la forma:
             http://localhost:8080/CONTEXT-ROOT/spring/ -->
        <url-pattern>/spring/*</url-pattern>
    </servlet-mapping>
    
    
    
    <context-param>
        <param-name>archivoConfiguracion</param-name>
        <param-value>/carpeta/archivo.xml</param-value>
    </context-param>
    
    <context-param>
        <param-name>parametro2</param-name>
        <param-value>valor2</param-value>
    </context-param>
    
    <listener>
        <listener-class>mx.uacm.curso.listeners.EjemploServletContextListener</listener-class>
    </listener>    
    
    
    
    <servlet>
        <servlet-name>holaservlet</servlet-name>
        <servlet-class>mx.uacm.curso.servlets.HolaMundoServlet</servlet-class>
        <init-param>
            <param-name>parametroservlet1</param-name>
            <param-value>valor parametro servlet</param-value>
        </init-param>
        <init-param>
            <param-name>parametroservlet2</param-name>
            <param-value>valor 2parametro servlet</param-value>
        </init-param>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>holaservlet</servlet-name>
        <!-- atiende peticiones en la url http://localhost:8080/CONTEXT-ROOT/hola -->
        <url-pattern>/hola</url-pattern>
    </servlet-mapping>
        
    
    <servlet>
        <servlet-name>holamvcservlet</servlet-name>
        <servlet-class>mx.uacm.curso.servlets.HolaMundoMVCServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>holamvcservlet</servlet-name>
        <!-- atiende peticiones en la url http://localhost:8080/CONTEXT-ROOT/hola -->
        <url-pattern>/holamvc</url-pattern>
    </servlet-mapping>
    

</web-app>
